@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 400;
  src: url("/path-to-fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-style: semibold;
  font-weight: 500;
  src: url("/path-to-fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 700;
  src: url("/path-to-fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
}

html,
body {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}
